* {
    box-sizing:  border-box;
}

html, body {
    background-color: #333;    
    color: #fff;
    height: 100%;
    margin: 0;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 300px;
}

.number-area {
    color: #fff;
    float: top;
    height: 50px;
    overflow:unset;
    padding-top: 20px;
    width: 100%;
}

#view {
    background-color: #777;
    resize: none;
    height: 100%;
    width: 100%;
    text-align: right;
}
#num {
    visibility: hidden;
}

.btn {
    width: 100%;
}

.btn-area {
    padding: 10px;
}

.btn-padding {    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}